# Default ignored files
/shelf/
/workspace.xml

# IntelliJ Ideas Files
/.idea/
UnifiedWelfareGer.iml

# CPI File from statistisches Bundesamt:
/cpi/verbraucherpreisindex-lange-reihen-xlsx-5611103.xlsx

# Bootstrap folder
/bootstrap/*

# Temporary Excel files
~$*

# Plots folder
/plots/*

# Latex folder
/tex/*

# Python environment
/venv/*

# CSV export folder
/csv_export/*

# JSON export folder
/json_export/*

# Third party scripts folder
/scripts/thirdparty/*

# HTML files inside rmarkdwon
/rmarkdown/*.html

#All RData Files:
*.RData

# Rds r files because bookdown produces such files when translating
*.rds

#R history
*.Rhistory

/bookdown/_book/*
/bookdown/_bookdown_files/*
/bookdown/sample/*