# Default ignored files
/shelf/
/workspace.xml

# IntelliJ Ideas Files
/.idea/
UnifiedWelfareGer.iml

# CPI File from statistisches Bundesamt:
/cpi/verbraucherpreisindex-lange-reihen-xlsx-5611103.xlsx

# Bootstrap folder
/bootstrap/*

# Temporary Excel files
~$*

# Plots folder
/plots/*

# Latex folder
/tex/*

# CSV export folder
/csv_export/*