:root {
    --left-width: 250px;
    --middle-share: 0.55;
}

html, body {
    margin:0;
    padding:0;
    font-size: 18px;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box;
}


#headLine {
    width: 100%;
    font-size: 24px;
    line-height: 40px;
    background-color: rgb(74, 80, 207);
    color: white;
    padding-left: 15px;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 0.1em 0.1em rgb(74, 80, 207); /*shadow effect*/
}

.barHeadLine {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 3px;
    font-weight: 700;
    font-family: 'Source Sans Pro';
}

#leftSide {
    margin-top: 100px;
    width: var(--left-width);
    float:left;
    color: black;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
}

#mvpfChartDiv {
    margin-top: 100px;
    float: left;
    width: calc((100vw - var(--left-width)) * var(--middle-share));
    height: auto;
    max-height: 95vh;
    padding-left: 50px;
    padding-right: 50px;
}

.selectBox {
    font-size: 14px;
    padding: 1px;
    color: black;
}

#barChartDiv {
    margin-top: 75px;
    float: left;
    /*height: 150px;*/
    position: relative;
    width: calc((100vw - var(--left-width)) * (1 - var(--middle-share)));
    margin-bottom: 50px;
}

#mvpfChart {
    width: 100%;
    height: 100%;
}

.singleProgramDiv {
    font-size: 18px;
    width: inherit;
    height: 160px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

.barChartSuperDiv {
    width: 100%;
    height: 160px;
    margin-bottom: 30px;
}

.plotSettingsBox {
    margin-bottom: 10px;
    font-size: 17px;
}

.plotAssumptionsBox {
    margin-bottom: 10px;
    font-size: 17px;
    float: left;
    width: var(--left-width);
}

.chartHeadline {
    padding-top: 0px;
    font-family: 'Source Sans Pro';
}

.barPlotElement {
    margin-top: 40px;
    margin-bottom: 40px;
}

.programHeadLine {
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 3px;
}

.programDescription {
    padding-top: 1px;
    padding-bottom: 1px;
}
#allProgram{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1400px) {
    #mvpfChartDiv {
     margin-top: 0px;
     float: left;
     width: calc((100vw - var(--left-width)) - 50px);
     padding-top: 100px;
     height: 800px;
     padding-left: 50px;
     padding-right: 50px;  
   }
   #barChartDiv {
       margin-top:0px;
       float: left;
       width: 100%;
       height: 150px;
       padding-top: 30px;
   }
   #leftSie {
    margin-top:50px;
   }
}
 
 @media screen and (max-width: 800px) {
   #leftSide {
    margin-bottom: 0px;
    float: none;
    width:auto;
    margin-top: 75px;
    color: black;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
  }
  #headLine {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    color: white;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    position:fixed;
    top: 0;
    left: 0;
}
  #mvpfChartDiv {
    float: none;
    width: auto;
    margin-top: 60px;
    height: 600px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .singleProgramDiv {
    width: inherit;
    height: inherit;
    padding-left: 15px;
    padding-right: 15px;
  }
}